@font-face {
    font-family: interbold;
    src: url(./atsess/font/Inter_28pt-Bold.ttf);
}

@font-face {
    font-family: intersemi;
    src: url(./atsess/font/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: interextra;
    src: url(./atsess/font/Inter_28pt-Light.ttf);
}

@font-face {
  font-family: comic;
  src: url(./atsess/font/ComicRelief.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* From Uiverse.io by barisdogansutcu */
svg {
    margin-top: 19rem;
    width: 100%;
    height: 100%;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -20px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.8) 100%),
        url("./atsess/image/WallpaperDog-20534610\ 1.png");

}

.dot {
    cursor: pointer;
    height: 3px;
    width: 30px;
    margin: 0 1px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: black;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .color-checkbox{
    accent-color: black;
  }

  .input-none{
    outline: none;
}

.input-none:focus {
    border: 3px solid black;
}

.submit-button{
background-color: #727272;
}

.submit-button.active{
    background-color:#212529;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* مخفی کردن نوار اسکرول برای مرورگرهای Webkit */
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* مخفی کردن نوار اسکرول در IE و Edge */
    scrollbar-width: none; /* مخفی کردن نوار اسکرول در فایرفاکس */
  }

  .input-search{
    outline: none;
  }

  .input-search:focus {
    border: 1px solid black;
}

.bc{
  box-shadow:-1px 8px 19px -7px rgba(0,0,0,0.49);
}

.bs{
  box-shadow: 0px 4px 32px  rgba(0,0,0,0.1);
}
